.grid {
  width: 100%;
  max-width: 1048px; /* figma container width */
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px; /* figma gap */
}

/* For mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 0 1.2rem;
    gap: 1rem;
  }
}
