.footer {
  display: flex;
  width: 75.9375rem;
  height: 6.9375rem;
  padding: 0 2rem;
  margin: 1.5rem 0;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23c9d7ff' stroke-width='3' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  transition:
    background 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    backdrop-filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

:global(.dark-theme) .footer {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23A5B9FF8A' stroke-width='3' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.left {
  display: flex;
  align-items: center;
  transition:
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

:global(.dark-theme) .left {
  filter: invert(1);
}

.footerTitle {
  width: 19.5rem;
  height: auto;
}

.socials {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.iconBtn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: #303030;
  border: 1px solid #303030;
}

.iconImage {
  width: 2.25rem;
  height: 2.25rem;
}

/* For small mobile size screens */
@media (max-width: 425px) {
  .footer {
    margin: 0 auto;
    width: 90vw;
    max-width: 40rem;
    height: 4.2rem;
    padding: 0 0.5rem;
    margin: 1.25rem auto;
    gap: 1rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23c9d7ff' stroke-width='3' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 0.5rem;
  }

  :global(.dark-theme) .footer {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23A5B9FF8A' stroke-width='3' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  }

  .footerTitle {
    width: 12.5rem;
  }

  .socials {
    gap: 0.15rem;
  }

  .iconBtn,
  .iconImage {
    width: 1.2rem;
    height: 1.2rem;
  }
}
}

/* Tablet Portrait + Landscape*/
@media (min-width: 700px) and (max-width: 1195px) {

  .footer {
    width: 43.125rem;
    height: 4.03125rem;
    padding: 1.38rem 1.48875rem;
    margin: 1.5rem 1.9375rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='9' ry='9' stroke='%23c9d7ff' stroke-width='3' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 0.5625rem;
  }

  :global(.dark-theme) .footer {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='9' ry='9' stroke='%23c9d7ff' stroke-width='3' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  }

  .footerTitle {
    width: 12rem;
    height: auto;
  }

  .socials {
    gap: 0.18rem;
  }

  .iconBtn,
  .iconImage {
    width: 1.22rem;
    height: 1.22rem;
  }
}

