.card {
  width: 100%;
  aspect-ratio: 16 / 9; /* 512 × 288 */
  border-radius: 7.52px; /* exact figma */
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

/* For mobile */
@media (max-width: 768px) {
  .card img {
    border-radius: 0.59819rem;
  }
}